<mat-card>
    <mat-card-title>Add Book</mat-card-title>
    <mat-card-content>
        <form [formGroup]="bookForm" (ngSubmit)="addBook()">
            <!-- INPUT TO bookName -->
            <p>
                <mat-form-field>
                    <input id="bookName" name="bookName" type="text" matInput placeholder="Book Title" formControlName="bookName"
                        required>
                </mat-form-field>
            </p>
            <!-- bookName Validations -->
            <div *ngIf="bookForm.controls['bookName'].invalid && (bookForm.controls['bookName'].dirty || bookForm.controls['bookName'].touched)"
                class="input-validation-message">
                <div *ngIf="bookForm.controls['bookName'].errors.required">
                    <span>Campo bookName é obrigatório.</span> 
                </div>
                <div *ngIf="bookForm.controls['bookName'].errors.minlength">
                    <span>Book title must have at least 3 characters.</span> 
                </div>
                <div *ngIf="bookForm.controls['bookName'].errors.maxlength">
                    <span>Book title must have less than 50 characters.</span> 
                </div>
            </div>
            <!-- END INPUT TO bookName -->

            <!-- INPUT TO authorName -->
            <p class="form-input">
                <mat-form-field>
                    <input type="text" matInput placeholder="Author Name" formControlName="authorName" required>
                </mat-form-field>
            </p>

            <!-- authorName Validations -->
            <div *ngIf="bookForm.controls['authorName'].invalid && (bookForm.controls['authorName'].dirty || bookForm.controls['authorName'].touched)"
                class="input-validation-message">
                <div *ngIf="bookForm.controls['authorName'].errors.required">
                    <span>Please, enter the Author name.</span> 
                </div>
                <div *ngIf="bookForm.controls['authorName'].errors.minlength">
                    <span>The Author name must have at least 3 characters.</span> 
                </div>
                <div *ngIf="bookForm.controls['authorName'].errors.maxlength">
                    <span>The Author name must have less than 40 characters.</span> 
                </div>
            </div>
            <!-- END INPUT TO authorName -->

            <!-- INPUT TO authorAge -->
            <p class="form-input">
                <mat-form-field>
                    <input type="number" matInput placeholder="Author Age" formControlName="authorAge" required>
                </mat-form-field>
            </p>

            <!-- authorAge Validations -->
            <div *ngIf="bookForm.controls['authorAge'].invalid && (bookForm.controls['authorAge'].dirty || bookForm.controls['authorAge'].touched)"
                class="input-validation-message">
                <div *ngIf="bookForm.controls['authorAge'].errors.required">
                    <span>Please, enter the Author age.</span>
                </div>
                <div *ngIf="bookForm.controls['authorAge'].errors.min">
                    <span>The Author age must be grater than 10.</span>
                </div>
                <div *ngIf="bookForm.controls['authorAge'].errors.max">
                    <span>The Author age must be less than 100.</span>
                </div>
            </div>
            <!-- END INPUT TO authorAge -->

            <!-- INPUT TO genre -->
            <p class="form-input">
                <mat-form-field>
                    <input type="text" matInput placeholder="Book Genre" formControlName="genre" required>
                </mat-form-field>
            </p>

            <!-- genre Validations -->
            <div *ngIf="bookForm.controls['genre'].invalid && (bookForm.controls['genre'].dirty || bookForm.controls['genre'].touched)"
                class="input-validation-message">
                <div *ngIf="bookForm.controls['genre'].errors.required">
                    <span>Please, enter the book genre.</span>
                </div>
                <div *ngIf="bookForm.controls['genre'].errors.minlength">
                    <span>The book genre must have at least 3 characters.</span> 
                </div>
                <div *ngIf="bookForm.controls['genre'].errors.maxlength">
                    <span>The book genre must have be less than 20 characters.</span> 
                </div>
            </div>
            <!-- END INPUT TO genre -->

            <div class="button">
                <button [ngClass]="{'add-button' : bookForm.valid}" type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary">Add Book</button>
                <button (click)="updtBook(bookId)"  [ngClass]="{'add-button' : bookForm.valid}" type="button" [disabled]="!bookForm.valid" mat-raised-button color="accent">Update Book</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>