.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .toolbar a {
    overflow: hidden;
    background: linear-gradient(to right, rgb(103, 181, 245), rgb(103, 181, 245) 50%, rgb(239, 243, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }
  
  .toolbar a:hover{
    background-position: 0 100%;
  }
  
  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media (min-width: 600px) {
    .sidenav {
      display: none;
    }
  }
  